---
import LegalLayout from "../../../layouts/LegalLayout.astro";

---

<LegalLayout>
  <main class="legal">
    <p>
      <span class="text-color-500 font-extrabold text-lg">trisecom</span>, S.R.L.,
      (en adelante &ldquo;<span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      >&rdquo;, &ldquo;nosotros&rdquo; o &ldquo;nuestro&rdquo;), como entidad
      responsable del tratamiento de los datos personales de los usuarios del
      portal web www.<span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      >.com (&ldquo;el Portal&rdquo;) y servicios derivados, reconoce la
      importancia de proteger la privacidad y confidencialidad de los datos de los
      usuarios (en adelante &ldquo; el usuario&rdquo; o &ldquo;usted&rdquo;), y le
      ofrece este Aviso de Privacidad (el &ldquo;Aviso&rdquo;), dise&ntilde;ado en
      cumplimiento con nuestras pol&iacute;ticas globales de protecci&oacute;n de datos, y en
      cumplimiento con las leyes y normas concordantes de Bolivia.
    </p>
  
    <p>
      A trav&eacute;s del Portal, <span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      > puede recolectar cierta informaci&oacute;n sobre usted. Este Aviso le informa acerca
      del tratamiento de sus datos personales, en particular (1) qu&eacute; datos recopilamos
      sobre usted, (2) c&oacute;mo los recopilamos, (3) con qu&eacute; finalidad, (4) cu&aacute;les son
      sus derechos y c&oacute;mo puede ejercerlos, (5) con qui&eacute;n se comparten, (6) por cu&aacute;nto
      tiempo se conservan, (7) qu&eacute; ley aplica, y (8) cu&aacute;les son los datos de contacto
      de <span class="text-color-500 font-extrabold text-lg">trisecom</span>, como
      responsable del tratamiento de sus datos personales.
    </p>
  
    <p>
      <span class="text-color-500 font-extrabold text-lg">trisecom</span> solicita
      su consentimiento para recolectar, conservar, procesar, bloquear, cancelar, consultar,
      transferir y, en definitiva, tratar sus datos personales, incluidos los utilizados
      para enviarle publicidad, en cumplimiento con los t&eacute;rminos del presente Aviso.
      En caso de conflicto entre las disposiciones del Aviso y otras pol&iacute;ticas o t&eacute;rminos
      y condiciones disponibles a trav&eacute;s de otros medios, prevalecer&aacute; este Aviso. Para
      conocer los t&eacute;rminos aplicables al uso del Portal, le sugerimos consulte nuestros
      T&eacute;rminos y Condiciones.
    </p>
  
    <p>
      Es posible que <span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      > realice cambios al Aviso de manera peri&oacute;dica. En el evento en que realicemos
      cambios sustanciales al Aviso, nosotros publicaremos dichos cambios a trav&eacute;s
      del Portal.
    </p>
  
    <h3>Qu&eacute; datos personales recopilamos sobre usted?</h3>
  
    <p>
      Con el fin de ofrecerle productos o servicios, o acceso a nuestro Portal, <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > puede recopilar los siguientes datos personales:
    </p>
  
    <ul>
      <li>
        Informaci&oacute;n de registro: su nombre, n&uacute;mero de tel&eacute;fono, direcci&oacute;n de
        correo electr&oacute;nico.
      </li>
      <li>
        Informaci&oacute;n sobre el uso del Portal: la direcci&oacute;n de red y el sistema
        operativo de su computadora, tipo de navegador utilizado, el sitio web
        desde el cual se vincul&oacute; a nuestra p&aacute;gina, su actividad en nuestro Portal,
        as&iacute; como el historial de visualizaci&oacute;n, la hora y la fecha en de vistita.
      </li>
      <li>
        Asimismo, <span class="text-color-500 font-extrabold text-lg"
          >trisecom</span
        > le informa que no solicita ni procesa, dentro de su conocimiento, datos personales
        de menores de 18 a&ntilde;os.
      </li>
    </ul>
  
    <h3>C&oacute;mo recopilamos sus datos personales?</h3>
  
    <p>
      Sus datos personales los obtenemos o bien porque usted nos los proporciona
      directamente (a trav&eacute;s del formulario de contacto o nos contacta por
      cualquier otra situaci&oacute;n v&iacute;a correo electr&oacute;nico, tel&eacute;fono, fax, o por medio
      escrito o personal en cualquiera de nuestros locales comerciales u
      oficinas), o porque los obtenemos a trav&eacute;s de terceros, o a trav&eacute;s de
      cookies u otras tecnolog&iacute;as.
    </p>
  
    <h3>Qu&eacute; son las cookies?</h3>
  
    <p>
      Las &ldquo;cookies&rdquo; y tecnolog&iacute;as similares son un peque&ntilde;o fichero de
      letras y cifras que se almacena en el navegador del usuario al acceder a
      determinadas p&aacute;ginas web, y que <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > puede utilizar con el objetivo de mejorar su experiencia y navegaci&oacute;n en el
      Portal, obtener informaci&oacute;n estad&iacute;stica sobre sus h&aacute;bitos de navegaci&oacute;n, y ofrecerle
      publicidad adaptada a sus preferencias, entre otros. Las &ldquo;cookies&rdquo;
      pueden ser de sesi&oacute;n, que se eliminar&aacute;n al terminar la sesi&oacute;n, o persistentes,
      que permanecer&aacute;n en su ordenador o dispositivo hasta que usted borre su historial
      o el mismo sistema lo realice por acumulaci&oacute;n de cookies, actualizaci&oacute;n del navegador
      o sistema, o vencimiento establecido por el navegador utilizado. Modificando
      las preferencias de su explorador web, usted tiene la opci&oacute;n de aceptar todas
      la &ldquo;cookies&rdquo;, de ser notificado cuando se instalan, o de deshabilitarlas.
      No obstante, si usted elige rechazar las &ldquo;cookies&rdquo;, es posible que
      algunas funciones del Portal no est&eacute;n disponibles para su utilizaci&oacute;n o que su
      funcionamiento no sea &oacute;ptimo.
    </p>
  
    <h3>Con qu&eacute; finalidad tratamos sus datos personales?</h3>
  
    <p>
      <span class="text-color-500 font-extrabold text-lg">trisecom</span> puede tratar
      sus datos personales para las siguientes finalidades:
    </p>
    <ul>
      <li>
        Adecuada prestaci&oacute;n de los servicios: Comprende toda actividad dirigida a
        analizar y desarrollar la factibilidad y ejecuci&oacute;n del servicio del
        Portal, en aspectos tales como: determinaci&oacute;n de consumos, mantenimiento y
        mejoramiento de servicios y del Portal web, atenci&oacute;n al cliente,
        personalizaci&oacute;n del contenido, servicios y ofertas, planes comerciales,
        satisfacci&oacute;n del cliente, creaci&oacute;n y registro de bases de datos, an&aacute;lisis
        de informaci&oacute;n y datos, creaci&oacute;n de indicadores clave de rendimiento de
        aplicaci&oacute;n (KPI), facturaci&oacute;n, seguridad, garantizar el control de calidad
        y, en general, toda informaci&oacute;n indispensable para cumplir con nuestros
        contratos de productos o servicios, la regulaci&oacute;n y la normatividad
        vigente aplicable.
      </li>
      <li>
        Fines Comerciales de <span class="text-color-500 font-extrabold text-lg"
          >trisecom</span
        >: Comprende toda actividad encaminada a presentar ofertas, promociones,
        productos, anuncios, publicidad, oportunidades, sorteos, campa&ntilde;as,
        programas de lealtad, fidelizaci&oacute;n, retenci&oacute;n de clientes y, en general,
        informaci&oacute;n de productos y servicios nuevos, ya solicitados o contratados,
        o que puedan ser de inter&eacute;s de los clientes y usuarios.
      </li>
      <li>
        Relacionamiento con p&uacute;blico de inter&eacute;s. Comprende toda actividad orientada
        al manejo de las relaciones con nuestras afiliadas y subsidiarias,
        accionistas, autoridades y comunidad en general, de conformidad con el
        marco jur&iacute;dico vigente, en desarrollo de la gesti&oacute;n empresarial para el
        adecuado cumplimiento del objeto social.
      </li>
      <li>
        Fines legales: comprende todo tratamiento justificado por la necesidad de
        cumplir con los requisitos legales aplicables, como son el atender un
        requerimiento de una entidad gubernamental o administrativa en el
        ejercicio de sus funciones o por orden escrita de autoridad judicial
        competente, o para proteger los derechos, la propiedad o la seguridad de <span
          class="text-color-500 font-extrabold text-lg">trisecom</span
        >, nuestros clientes, empleados y el p&uacute;blico en general.
      </li>
      <li>
        En el caso de que <span class="text-color-500 font-extrabold text-lg"
          >trisecom</span
        > establezca otras finalidades para el tratamiento de los datos personales,
        le solicitar&aacute; nuevamente la autorizaci&oacute;n previa y expresa para su correspondiente
        tratamiento.
      </li>
    </ul>
  
    <h3>
      Cu&aacute;les son sus derechos en relaci&oacute;n con el tratamiento de sus datos
      personales?
    </h3>
  
    <p>
      Usted puede elevar consultas, as&iacute; como solicitar a <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > acceder, rectificar o suprimir sus datos personales. Asimismo, usted puede
      objetar al tratamiento de sus datos personales o revocar la autorizaci&oacute;n concedida
      para dicho tratamiento, cuando exista causa justificada para ello, a trav&eacute;s de
      la informaci&oacute;n de contacto disponible al final de este Aviso.
    </p>
  
    <p>
      Usted tambi&eacute;n puede acceder o rectificar sus datos personales a trav&eacute;s del
      Portal o de manera presencial en las oficinas <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > respaldado por la documentaci&oacute;n de persona f&iacute;sica.
    </p>
  
    <p>
      Para hacer la solicitud, le agradecemos tenga lista o nos proporcione la
      siguiente informaci&oacute;n:
    </p>
  
    <ul>
      <li>documento personal u otro elemento que acredite su identidad,</li>
      <li>una descripci&oacute;n de los hechos que dan lugar a su solicitud,</li>
      <li>
        su direcci&oacute;n de correo electr&oacute;nico o una direcci&oacute;n que podamos utilizar
        para contestar su petici&oacute;n, y
      </li>
      <li>cualquier otro documento con el que quiera acompa&ntilde;ar su petici&oacute;n.</li>
      <li>
        <span class="text-color-500 font-extrabold text-lg">trisecom</span> atender&aacute;
        su solicitud lo antes posible y, en todo caso, dentro de los t&eacute;rminos que pudieran
        estar establecidos por ley. En caso de ser pertinente, <span
          class="text-color-500 font-extrabold text-lg">trisecom</span
        > proceder&aacute; con la tramitaci&oacute;n de su solicitud.
      </li>
    </ul>
    <h3>Con qui&eacute;n compartimos sus datos personales?</h3>
  
    <p>
      En cumplimiento con la normativa vigente y mediante la implementaci&oacute;n de
      medios seguros y con su consentimiento, <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > puede utilizar, comunicar o transferir sus datos personales a terceros proveedores
      (por ejemplo, para almacenamiento y/o an&aacute;lisis de datos), o en caso de una fusi&oacute;n,
      adquisici&oacute;n, venta de activos de la compa&ntilde;&iacute;a o transici&oacute;n del servicio a otro
      proveedor. Adem&aacute;s de lo anterior, <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > puede comunicar o transferir sus datos personales por orden escrita de autoridad
      judicial competente o cuando as&iacute; sea permitido en cumplimiento con la ley. Asimismo,
      <span class="text-color-500 font-extrabold text-lg">trisecom</span> puede compartir
      o transferir sus datos personales con otras jurisdicciones que cuentan con leyes
      de protecci&oacute;n de datos diferentes a las establecidas en Bolivia.
    </p>
    <p>
      El uso, la comunicaci&oacute;n y la transferencia de la informaci&oacute;n se realizar&aacute;
      mediante el uso de medidas de &iacute;ndole t&eacute;cnicas y organizativas necesarias
      para evitar la alteraci&oacute;n, perdida o el tratamiento no autorizado de sus
      datos personales.
    </p>
  
    <h3>Por cu&aacute;nto tiempo se guardan sus datos personales?</h3>
  
    <p>
      Los datos estar&aacute;n vigentes mientras se requiera su utilizaci&oacute;n acorde con la
      finalidad para la cual fue creada. Los datos se mantendr&aacute;n conforme a la
      autorizaci&oacute;n otorgada para su tratamiento, salvo revocatoria del titular.
      Salvo que la ley local vigente disponga otros plazos de retenci&oacute;n de los
      datos, una vez se hubiera cumplido con la finalidad o usted revocara su
      consentimiento, <span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      > proceder&aacute; a la supresi&oacute;n de sus datos personales. Conforme a la norma que regula
      la materia, la revocatoria no proceder&aacute; cuando no exista cause justificada para
      ello y no tendr&aacute; efecto retroactivo.
    </p>
  
    <h3>Ley aplicable y jurisdicci&oacute;n</h3>
  
    <p>
      La interpretaci&oacute;n, uso, alcance y terminaci&oacute;n de este Aviso se rige por las
      leyes de Bolivia y, en caso de disputa, se ser&aacute; resuelta en forma definitiva
      mediante arbitraje institucional a efectuarse en el Centro de Conciliaci&oacute;n y
      Arbitraje Comercial de la C&aacute;mara de Industria, Comercio, Servicios y Turismo
      (CAINCO) de la ciudad de Santa Cruz de la Sierra, al que se encomienda la
      administraci&oacute;n del arbitraje de acuerdo al Reglamento vigente a la fecha en
      que se presente la solicitud de arbitraje. Este acuerdo implica la renuncia
      expresa a iniciar cualquier proceso judicial.
    </p>
  </main>
</LegalLayout>

<style>
  .legal p {
    text-align: justify;
    font-size: medium;
  }
  .legal h2 {
    font-weight: bolder;
    font-size: x-large;
    margin-top: 1rem;
  }
  .legal h3 {
    font-size: larger;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .legal blockquote {
    font-style: italic;
    margin: 3rem;
  }
  .legal ul {
    list-style: circle;
    margin: 0.5rem;
  }
  .legal ul li {
    font-size: small;
    margin-left: 2rem;
    text-align: justify;
  }
  .legal ol {
    list-style: decimal;
  }
</style>