---
import LegalLayout from "../../../layouts/LegalLayout.astro";

---

<LegalLayout>
  <main>
    <p>
      Bienvenido a nuestro portal web www.<span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      >.com (el &ldquo;Portal&rdquo;). Lea atentamente estos t&eacute;rminos y
      condiciones (los &ldquo;T&rminos&rdquo;), proporcionados por <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      >, S.R.L. (en adelante, &ldquo;<span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      >&rdquo;, &ldquo;nosotros&rdquo; o &ldquo;nuestro&rdquo;). Estos
      T&eacute;rminos aplican exclusivamente al uso del Portal por el usuario (en
      adelante, &ldquo;el usuario&rdquo; o &ldquo;usted&rdquo;), el cual incluye
      informaci&oacute;n sobre los servicios y productos de telecomunicaciones
      ofrecidos por <span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      > a particulares, empresas, y entidades gubernamentales. Estos T&eacute;rminos
      no aplican a la contrataci&oacute;n de los Servicios, sino exclusivamente al
      uso del Portal. Otros t&eacute;rminos y condiciones o contratos espec&iacute;ficos
      le ser&aacute;n puestos a su disposici&oacute;n previa contrataci&oacute;n de
      los mismos. Estos T&eacute;rminos disponen los t&eacute;rminos y condiciones
      bajo los cuales usted utiliza el Portal, incluyendo sus derechos y responsabilidades,
      as&iacute; como la limitaci&oacute;n de responsabilidad de <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      >. Se consideran parte de estos T&eacute;rminos, el &quot;Aviso de
      Privacidad&quot;.
    </p>
  
    <blockquote>
      AL ACCEDER Y USAR ESTE PORTAL, EST&aacute; ACEPTANDO LAS CONDICIONES DE
      ESTOS T&eacute;RMINOS, AS&iacute; COMO LOS SE&ntilde;ALADOS EN EL AVISO DE
      PRIVACIDAD. SI USTED, COMO USUARIO, NO EST&aacute; DE ACUERDO CON ESTOS
      T&eacute;RMINOS, POR FAVOR NO ACCEDA O HAGA USO DE ESTE PORTAL.
    </blockquote>
  
    <p>
      <span class="text-color-500 font-extrabold text-lg"
        ><span class="text-color-500 font-extrabold text-lg">trisecom</span></span
      > realiza cambios de manera peri&oacute;dica a estos T&eacute;rminos. En el caso
      de que los cambios sean sustanciales, <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > los publicar&aacute; a trav&eacute;s del Portal.
    </p>
  
    <h2>Condiciones de acceso y utilizaci&oacute;n</h2>
  
    <h3>Acceso y uso del Portal</h3>
  
    <p>
      La prestaci&oacute;n del servicio del Portal tiene car&aacute;cter gratuito
      y ofrece informaci&oacute;n acerca de los Servicios de telecomunicaciones
      comercializados por <span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      >. El Portal no exige previa suscripci&oacute;n ni registro. No obstante,
      usted puede hacer registrarse mediante el formulario de contacto, disponible
      para consultas en el Portal.
    </p>
    <p>Asimismo, el Portal puede incluir ofertas comerciales.</p>
    <p>
      Usted declara y garantiza a <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      >: (a) que tiene plenos poderes y facultades, as&iacute; como tambi&eacute;n
      la capacidad legal para aceptar estos T&eacute;rminos y cumplir las
      obligaciones derivadas de los mismos, y que si se est&aacute; registrando en
      representaci&oacute;n de una compa&ntilde;&iacute;a o de alguna otra
      entidad, que tiene la facultad de obligar a su mandante o a la
      compa&ntilde;&iacute;a que lo emplea; y (b) que le brindar&aacute;
      informaci&oacute;n v&aacute;lida, completa y veraz a <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      >. Usted reconoce y acepta que el registro es personal y ser&aacute; el
      &uacute;nico responsable de la administraci&oacute;n de las
      contrase&ntilde;as de acceso que posea o adquiera, y reconoce y acepta que
      si no act&uacute;a de manera responsable y como se establece en estos
      T&eacute;rminos, <span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      > no ser&aacute; responsable por el uso que pueda hacer un tercero de su contrase&ntilde;a,
      incluso cuando lo hace con desconocimiento de &eacute;ste o contra su voluntad.
      Por ello, es su responsabilidad utilizar dichas cuentas de acceso de manera l&iacute;cita
      y personal. Usted consiente que, de acuerdo a la normativa vigente, <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > tiene la facultad de corroborar la veracidad de toda la informaci&oacute;n
      proporcionada por usted.
    </p>
  
    <p>
      En caso de que la confidencialidad de su cuenta o de su contrase&ntilde;a se
      vea comprometida, usted deber&aacute; notificarlo inmediatamente a
      trav&eacute;s de los canales de atenci&oacute;n dispuestos en nuestro Aviso
      de Privacidad. <span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      > se reserva el derecho de ejercer las acciones que considere pertinentes y razonables
      para reestablecer la seguridad del Portal, incluyendo su cuenta, as&iacute; como
      de la posibilidad de cancelar su cuenta, cambiar la contrase&ntilde;a o solicitar
      informaci&oacute;n adicional para autorizar la realizaci&oacute;n de transacciones
      a trav&eacute;s de su cuenta.
    </p>
  
    <h3>Obligaci&oacute;n de hacer un uso correcto del Portal</h3>
  
    <p>
      Usted se abstendr&aacute; de utilizar con fines indebidos o il&iacute;citos
      el Portal o cualquiera de los elementos que lo integran, como son entre
      otros:
    </p>
  
    <ul>
      <li>
        publicar, distribuir o divulgar cualquier informaci&oacute;n ilegal,
        abusiva, inapropiada, tergiversadora, obscena, pornogr&aacute;fica, o
        cualquier otro acto que estimule, incite o genere la publicaci&oacute;n,
        distribuci&oacute;n o divulgaci&oacute;n de informaci&oacute;n ilegal o
        il&iacute;cita, la realizaci&oacute;n de actos ilegales o il&iacute;citos
        o que violen en cualquier otra forma la normatividad local, nacional o
        internacional. <span class="text-color-500 font-extrabold text-lg"
          >trisecom</span
        > eliminar&aacute; cualquier material que contenga de forma indirecta o directa
        elementos pornogr&aacute;ficos, y se reserva el derecho de denunciar ante las
        autoridades competentes cualquier actuaci&oacute;n contraria a estos T&eacute;rminos.
      </li>
      <li>
        interferir o perturbar a usuarios, equipos o servicios, incluida la
        distribuci&oacute;n de anuncios o mensajes no solicitados.
      </li>
      <li>
        falsificar la identidad, mediante modificaci&oacute;n del encabezado de
        mensajes electr&oacute;nicos o dominios web, suplantaci&oacute;n de
        terceros, creaci&oacute;n de una identidad falsa con el objeto de
        confundir a otros y realizar actividades a trav&eacute;s de las cuales se
        alcance la misma finalidad.
      </li>
      <li>
        utilizar cualquier Contenido del Portal de manera que pueda infringir
        alg&uacute;n derecho de propiedad intelectual, o cualquier derecho de <span
          class="text-color-500 font-extrabold text-lg">trisecom</span
        > o de terceros, como se dispone m&aacute;s adelante.
      </li>
    </ul>
  
    <h3>Manejo de los Contenidos</h3>
  
    <p>
      Se entiende por Contenidos toda informacion, mensajes, gr&aacute;ficos,
      dibujos, sonidos, im&aacute;genes, fotograf&iacute;as, grabaciones, software
      y, en general, cualquier clase de material accesible a trav&eacute;s del
      Portal, incluidas las Apps (en adelante, &ldquo;Contenido &ldquo;o
      &ldquo;Contenidos&rdquo;).
    </p>
    <ul>
      <li>
        Medios para la obtenci&oacute;n de contenidos: Usted debe abstenerse de
        obtener o de intentar obtener los Contenidos mediante el empleo de
        procedimientos o de medios distintos a los que, seg&uacute;n los casos, se
        hayan puesto a su disposici&oacute;n o se hayan indicado a este efecto en
        las p&aacute;ginas del Portal donde se encuentren los Contenidos o, en
        general, de los que se empleen habitualmente en Internet a este efecto,
        que puedan entra&ntilde;ar un riesgo de da&ntilde;o o inutilizaci&oacute;n
        del Portal.
      </li>
      <li>
        Uso correcto de los Contenidos: Usted se obliga a usar el Portal de forma
        diligente, correcta y l&iacute;cita y, en particular, se compromete a
        abstenerse de: (a) reproducir o copiar, desmontar, realizar
        ingenier&iacute;a inversa, traducir, distribuir, exhibir, alquilar,
        arrendar, vender, transformar, adaptar o modificar los Contenidos, o
        permitir el acceso del p&uacute;blico a trav&eacute;s de cualquier
        modalidad de comunicaci&oacute;n p&uacute;blica, a menos que se cuente con
        la autorizaci&oacute;n de <span
          class="text-color-500 font-extrabold text-lg">trisecom</span
        > o el titular de los derechos correspondientes o ello sea legalmente permitido;
        (b) suprimir, eludir o manipular &quot;copyright&quot; y dem&aacute;s datos
        identificativos de los derechos de autor de <span
          class="text-color-500 font-extrabold text-lg">trisecom</span
        > o de sus titulares, incorporados a los Contenidos, as&iacute; como los dispositivos
        t&eacute;cnicos de protecci&oacute;n, las firmas digitales u otros mecanismos
        de informaci&oacute;n que pudieren incorporar los Contenidos; (c) emplear los
        Contenidos y, en particular, la informaci&oacute;n obtenida a trav&eacute;s
        del Portal para comercializar o divulgar de cualquier modo dicha informaci&oacute;n,
        por ejemplo remitiendo publicidad, enviando comunicaciones con fines de venta
        directa o con cualquier otra clase de finalidad comercial, o enviando mensajes
        no solicitados dirigidos a una pluralidad de personas con independencia de
        su finalidad.
      </li>
      <li>
        Introducci&oacute;n de enlaces que permitan el acceso a las p&aacute;ginas
        web del portal y a los servicios: Si usted se propone establecer un enlace
        o v&iacute;nculo entre su p&aacute;gina web y el Portal para que
        &eacute;ste aparezca relacionado con dicha p&aacute;gina web,
        deber&aacute; cumplir las siguientes condiciones: (a) el enlace
        &uacute;nicamente permitir&aacute; el acceso a las p&aacute;ginas web del
        Portal, pero no podr&aacute; reproducirlas de ninguna forma; (b)
        s&oacute;lo podr&aacute;n establecerse enlaces con la primera
        p&aacute;gina del Portal o de sus servicios concretos (home-page); (c) no
        deber&aacute; crearse &ldquo;browser deep link&rdquo; ni &ldquo;border
        environment&rdquo; sobre las p&aacute;ginas web del Portal; (d) no se
        realizar&aacute;n manifestaciones o indicaciones falsas, inexactas o
        incorrectas sobre las p&aacute;ginas web del Portal y sus servicios; (e)
        no se declarar&aacute; ni dar&aacute; a entender que <span
          class="text-color-500 font-extrabold text-lg">trisecom</span
        > ha autorizado el enlace o que han supervisado o asumido de cualquier forma
        los contenidos o servicios ofrecidos o puestos a disposici&oacute;n en la p&aacute;gina
        web en la que se establece el enlace; (f) a excepci&oacute;n de aquellos signos
        que formen parte del mismo enlace, la p&aacute;gina web en la que &eacute;ste
        se establezca no contendr&aacute; ninguna marca, nombre comercial, r&oacute;tulo
        de establecimiento, denominaci&oacute;n, logotipo, eslogan u otros signos distintivos
        pertenecientes a <span class="text-color-500 font-extrabold text-lg"
          >trisecom</span
        >; (g) sin perjuicio de la libertad de expresi&oacute;n, la p&aacute;gina
        web en la cual se establezca el enlace no contendr&aacute;
        informaci&oacute;n o contenido il&iacute;cito, contrarios a la moral, a
        las buenas costumbres generalmente aceptadas por el orden p&uacute;blico,
        o que contrar&iacute;en derechos de <span
          class="text-color-500 font-extrabold text-lg">trisecom</span
        > o de terceros.
      </li>
    </ul>
  
    <p>
      El establecimiento del enlace no implica en ning&uacute;n caso la existencia
      de relaciones entre <span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      > y el propietario de la p&aacute;gina web en la que se establezca, ni la aceptaci&oacute;n
      y aprobaci&oacute;n por parte de <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > de sus contenidos o servicios.
    </p>
  
    <h2>Precios, promociones y pagos</h2>
  
    <h3>Los precios de los servicios exhibidos en el Portal</h3>
  
    <p>
      Los precios exhibidos en el Portal son informativos para compras y/o pagos.
      Los precios y ofertas est&aacute;n sujetos a cambios sin previo aviso e
      incluyen todos los impuestos de venta, seg&uacute;n normativa vigente. <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > no garantiza que los precios no vayan a cambiar o sean exactos, especialmente
      con relaci&oacute;n a los precios de productos de terceros expuestos en el Portal.
      Prevalecer&aacute;n los precios pactados en los contratos de Servicio respectivos,
      el pedido y antes de efectuar el pago.
    </p>
  
    <h3>Las promociones de los servicios exhibidos en el Portal</h3>
  
    <p>
      Usted tiene la oportunidad de obtener ofertas a trav&eacute;s del Portal y
      para la contrataci&oacute;n de ciertos Servicios a trav&eacute;s de un
      agente o en alguno de nuestros puntos de venta. Para hacer uso de los
      c&oacute;digos promocionales, el beneficiario deber&aacute; estar registrado
      o registrarse como usuario. Para que los c&oacute;digos promocionales sean
      aceptados, se deber&aacute;n ingresar de acuerdo a la forma que son
      presentados, y se podr&aacute;n utilizar una sola vez, salvo que se disponga
      de otro modo en la promoci&oacute;n.
    </p>
  
    <h2>Comunicaciones electr&oacute;nicas y publicidad</h2>
  
    <p>
      Cada vez que usted use ciertas herramientas del Portal como Ayuda al
      Cliente, Centro de Ayuda, se suscriba a nuestra Newsletter para recibir
      informaci&oacute;n sobre ofertas y promociones o nos solicite
      informaci&oacute;n acerca de nuestros Servicios, estar&aacute;
      comunic&aacute;ndose electr&oacute;nicamente con nosotros. Nosotros nos
      pondremos en contacto con usted mediante correo electr&oacute;nico,
      tel&eacute;fono o mediante el sistema que utiliz&oacute; para conectarse con
      nosotros. A efectos de estos T&eacute;rminos, usted acepta recibir
      comunicaciones de nuestra parte mediante medios electr&oacute;nicos para
      contestar sus preguntas, dudas, quejas, reclamos, comentarios, o enviarle
      publicidad u ofertas y promociones, y acepta que todos los contratos, avisos
      y otras notificaciones y comunicaciones que le enviemos por medios
      electr&oacute;nicos satisfacen cualquier requisito de forma escrita. Si no
      desea seguir recibiendo informaci&oacute;n por medios electr&oacute;nicos
      podr&aacute; solicitarlo haciendo uso de la opci&oacute;n de
      eliminaci&oacute;n de la suscripci&oacute;n provista al final del correo
      electr&oacute;nico pertinente. Tambi&eacute;n puede usar cualquiera de
      nuestros canales de atenci&oacute;n mencionados en nuestro Aviso de
      Privacidad. y condiciones especiales a cada evento, los cuales
      estar&aacute;n disponibles para revisi&oacute;n previo a su
      participaci&oacute;n.
    </p>
  
    <h3>Responsabilidad por da&ntilde;os y perjuicios</h3>
  
    <p>
      Usted es consciente y acepta voluntariamente que el uso del Portal y de su
      Contenido tiene lugar, en todo caso, bajo su &uacute;nica y exclusiva
      responsabilidad, y se compromete a indemnizar, defender y mantener a <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      >, sus accionistas, subsidiarias, afiliadas, funcionarios, agentes y
      empleados, libres y a salvo de cualquier responsabilidad civil, penal o
      administrativa, da&ntilde;o o perjuicio y de todas las responsabilidades,
      p&eacute;rdidas, penalidades y costos (incluyendo pero no limitado a los
      costos, gastos y pagos razonables a abogados) ocasionados por demandas
      legales o quejas que surjan como consecuencia de su incumplimiento de estos
      T&eacute;rminos o normativa vigente.
    </p>
  
    <h3>Protecci&oacute;n de datos y confidencialidad</h3>
  
    <p>
      Para el uso de nuestro Portal, es posible que recabemos ciertos datos suyos
      de car&aacute;cter personal, de navegaci&oacute;n o comportamiento, bien
      porque los recibimos a trav&eacute;s de usted o bien porque los recabamos de
      manera automatizada a trav&eacute;s del uso de cookies u otras
      tecnolog&iacute;as. El tratamiento de los datos personales obtenidos a
      trav&eacute;s del llenado de formularios de solicitudes, registro o a
      trav&eacute;s del uso de cookies u otras tecnolog&iacute;as se establece en
      nuestro Aviso de Privacidad. Los datos personales obtenidos a trav&eacute;s
      de la contrataci&oacute;n y uso de Servicios de <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > son tratados en base a t&eacute;rminos y condiciones, y cl&aacute;usulas de
      privacidad, adicionales y distintos al presente.
    </p>
  
    <p>
      Los datos personales que usted ingrese en el Portal se consideran en todo
      momento informaci&oacute;n confidencial y privada, al menos que tal
      informaci&oacute;n haya sido publicada en el Portal a trav&eacute;s de redes
      sociales enlazadas al Portal. En ese caso, usted acepta que tal
      informaci&oacute;n es p&uacute;blica, y por tanto no confidencial, y que <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > tendr&aacute; el derecho de utilizarla para los fines que estime convenientes
      en conformidad con normativa vigente. Usted puede elevar consultas relacionadas
      con sus datos personales a trav&eacute;s de los canales de atenci&oacute;n dispuestos
      en el Aviso de Privacidad. Las consultas ser&aacute;n atendidas tan pronto sea
      posible, y siempre dentro de los t&eacute;rminos que pudieran estar establecidos
      por ley.
    </p>
  
    <p>
      En cumplimiento con la normativa vigente en materia de protecci&oacute;n de
      datos de car&aacute;cter personal, <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > se compromete a utilizar medidas de seguridad razonables para evitar la alteraci&oacute;n,
      p&eacute;rdida, destrucci&oacute;n, robo y tratamiento o acceso no autorizado
      de sus datos personales.
    </p>
  
    <h2>Exclusi&oacute;n de garant&iacute;as y de responsabilidad</h2>
  
    <p>
      Nuestro Portal, incluyendo su Contenido, lo ofrecemos sin garant&iacute;as
      expresas o impl&iacute;citas de ning&uacute;n tipo. <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      >, subsidiarias, afiliadas, funcionarios, agentes y empleados no son
      responsables por los da&ntilde;os y perjuicios de toda clase que puedan
      derivarse del uso del Portal y/o los mensajes comunicados a trav&eacute;s de
      los canales de atenci&oacute;n del Portal, as&iacute; como no garantiza que
      los mismos:
    </p>
    <ul>
      <li>cumplan con sus expectativas,</li>
      <li>
        operen de forma ininterrumpida, oportuna, sin demora, o libre de errores o
        problemas t&eacute;cnicos,
      </li>
      <li>sean precisos, sin omisiones, fiables o l&iacute;citos, y</li>
      <li>
        est&eacute;n libres de virus y de otros dise&ntilde;os que contengan
        componentes da&ntilde;inos que puedan producir alteraciones en su sistema
        inform&aacute;tico, documentos electr&oacute;nicos u otro contenido o
        plataforma.
      </li>
    </ul>
  
    <p>
      De la misma manera, <span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      >, subsidiarias, afiliadas, funcionarios, agentes y empleados no garantizan
      ni asumen ning&uacute;n tipo de responsabilidad por los da&ntilde;os y
      perjuicios de toda clase que puedan derivarse de los enlaces exhibidos en el
      Portal para acceder a productos o servicios de sitios web pertenecientes o
      gestionados por terceros, o de los productos o servicios de terceros
      publicados y/o puestos a disposici&oacute;n en el Portal. Es su
      responsabilidad informarse de los t&eacute;rminos y condiciones, as&iacute;
      como de la pol&iacute;tica de privacidad de datos, de los sitios web de
      terceros enlazados, publicados o dispuestos a trav&eacute;s de nuestro
      Portal.
    </p>
  
    <p>
      Usted asume toda la responsabilidad por la interpretaci&oacute;n y el uso
      del Portal, incluido su Contenido y ser&aacute; responsable por la
      violaci&oacute;n de derechos de propiedad intelectual, patrimonial y
      personal de <span class="text-color-500 font-extrabold text-lg"
        >trisecom</span
      > o de terceros, y/o de derechos en contra de la moral y buenas costumbres o
      el orden p&uacute;blico, que de cualquier forma puedan da&ntilde;ar a otros usuarios
      del Portal, o interferir, sobrecargar, deteriorar o impedir la normal utilizaci&oacute;n
      del Portal.
    </p>
  
    <h3>Informaci&oacute;n de marca</h3>
  
    <p>
      Los logotipos, gr&aacute;ficos, productos, nombres y esl&oacute;ganes de <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      >, Ud. no podr&aacute; exhibirlos o utilizarlos de forma alguna o de forma
      que se haga un uso comercial o enga&ntilde;oso (adoptar una falsa identidad)
      de ellos, o de cualquier forma por la cual se est&eacute;n incumplimiento
      estos T&eacute;rminos. Las marcas que no son propiedad de <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > se exhiben en el Portal a efectos publicitarios. <span
        class="text-color-500 font-extrabold text-lg">trisecom</span
      > no ofrece garant&iacute;a alguna con respecto a estas marcas, y el hecho de
      exhibirlas en el Portal no deber&aacute; considerarse como una recomendaci&oacute;n
      de las mismas.
    </p>
  
    <h3>No licenciamiento</h3>
  
    <p>
      <span class="text-color-500 font-extrabold text-lg">trisecom</span> no le concede
      ninguna licencia o autorizaci&oacute;n de uso de ninguna clase sobre sus derechos
      de propiedad intelectual (derechos de autor, copyright y propiedad industrial),
      imagen y dem&aacute;s distintivos, software, o sobre cualquier otra propiedad
      o derecho relacionado con el Portal, sus Servicios o Contenido. Usted no tiene
      derecho alguno de reventa ni de uso comercial del Portal, de los Servicios de
      <span class="text-color-500 font-extrabold text-lg">trisecom</span> ni de su
      Contenido, ni derecho alguno a compilar ni utilizar lista alguna de productos,
      descripciones o precios. El uso del Portal no otorga ning&uacute;n derecho excepto
      por los dispuestos en estos T&eacute;rminos.
    </p>
  
    <h3>Ley aplicable y jurisdicci&oacute;n</h3>
  
    <p>
      Los T&eacute;rminos aqu&iacute; establecidos y los conflictos que puedan
      surgir respecto de su interpretaci&oacute;n, uso, alcance y
      terminaci&oacute;n se rigen por las leyes de Bolivia ser&aacute; resuelta en
      forma definitiva mediante arbitraje institucional a efectuarse en el Centro
      de Conciliaci&oacute;n y Arbitraje Comercial de la C&aacute;mara de
      Industria, Comercio, Servicios y Turismo (CAINCO) de la ciudad de Santa Cruz
      de la Sierra, al que se encomienda la administraci&oacute;n del arbitraje de
      acuerdo al Reglamento vigente a la fecha en que se presente la solicitud de
      arbitraje. Este acuerdo implica la renuncia expresa a iniciar cualquier
      proceso judicial.
    </p>
  
    <p>
      En caso de que cualquier cl&aacute;usula de estos T&eacute;rminos sea o se
      torne inv&aacute;lida o inaplicable, la misma no afectar&aacute; a la
      validez de las dem&aacute;s cl&aacute;usulas.
    </p>
  </main>
</LegalLayout>

<style>
  .legal p {
    text-align: justify;
    font-size: medium;
  }
  .legal h2 {
    font-weight: bolder;
    font-size: x-large;
    margin-top: 1rem;
  }
  .legal h3 {
    font-size: larger;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .legal blockquote {
    font-style: italic;
    margin: 3rem;
  }
  .legal ul {
    list-style: circle;
    margin: 0.5rem;
  }
  .legal ul li {
    font-size: small;
    margin-left: 2rem;
    text-align: justify;
  }
  .legal ol {
    list-style: decimal;
  }
</style>
